@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  height: 500px;
  background-image: url("../img/design1_image1.jpg");
  background-repeat: no-repeat;
  background-position: 0px -200px;
}

header h1 {
  position: absolute;
  top: 400px;
  left: 400px;
  color: orange;
  font-size: 70px;
  text-shadow: 5px 5px 10px black;
  font-style: oblique;
}

nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 20px;
  display: flex;
  align-content: flex-start;
}

nav a {
  border: solid 1px black;
  border-radius: 20px;
  width: 180px;
  text-align: center;
  padding: 7px 10px;
  background-color: orange;
  color: white;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 5px 5px 10px black;
}

nav a:hover {
  transition-duration: 0.3s, 0.8s;
  transform: scale(1.05);
  cursor: pointer;
}

.active {
  background-color: orangered;
}

.container_logo {
  margin-left: 15px;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 20px;
  align-content: flex-start;
}

/* .foto1,
.foto2,
.foto3 {
  margin-top: 10px;
  width: 400px;
} */

/* main h2 {
  
  
  rotate: -90deg;
  
  color: white;
  background-color: black;
  
} */

main article {
  margin-top: 30px;
  margin-left: 200px;
  padding-top: 20px;
}

main article {
  margin-top: 30px;
  margin-left: 200px;
  padding-top: 20px;
}

main article p {
  padding-bottom: 10px;
}
.contacto_main {
  margin-top: 48px;
  margin-left: 200px;
}
