@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comic Neue";
}

header {
  margin-top: 80px;
  height: 300px;
  background-image: url("../img/design2_image1.jpg");
  background-position: 0px -60px;
  background-repeat: no-repeat;
  /* background-position: 0px -100x; */
}

header h1 {
  transform: translateY(-80px);
  color: black;
  font-size: 70px;
  text-shadow: 3px 3px 7px black;
}

nav {
  position: absolute;
  top: 70px;
  right: 80px;
}

nav a {
  border: solid 1px black;
  padding: 7px 10px;
  margin-right: 10px;
  background-color: blue;
  color: white;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 5px 5px 10px black;
}

.active {
  background-color: green;
}
.container_logo {
  width: 150px;
  height: 150px;
  transform: translate(10px, 300px);
}

main h2 {
  padding: 5px;
  color: black;
  border: 1px solid black;
  text-align: center;
}

main article {
  margin-top: 30px;
  margin-left: 200px;
  padding-top: 20px;
}

main article p {
    padding-bottom: 10px;
}
.foto1,
.foto2,
.foto3 {
  margin-top: 10px;
  width: 600px;
}

.contacto_main {
  margin-top: 40px;
  margin-left: 200px;
}

.contacto_main p {
  padding-bottom: 10px;
}
